body{
     font-family: "Comfortaa", sans-serif;
}

.parent
{
    position: relative;
    border: 1px #000000 solid;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.solid-circle{
    height: 750px;
    width: 750px;
    background: rgb(255, 150, 202);
    border-radius: 50%;
    position: absolute;
    right: -375px;
    top: -30px;
    z-index: 1 ;
}

.header-home{
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 10px;
    padding: 0px 25px;
}

#click-here-button{
    background: white ;
    color:rgb(255, 150, 202) ;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.50);
}

#wave{
    font-size: 25px;
}

#name{
    color: rgb(255, 150, 202);
    font-size: 95px;
}

.form-floating{
    box-shadow: 4px 4px 1px rgba(49, 39, 39, 0.25);
    border-radius: 5px;
}

#login-btn{
    background: rgb(255, 150, 202);
    color: white;
    padding: 5px 25px; 
}

.main-content{
    margin-left: 30px;
}

@media only screen and (max-width: 768px) 
{
.solid-circle{
    background: black;
    width: 300px;
    height: 300px;
    top: -150px;
    right: -115px;
}
#name{
    color: black;
}
#login-btn{
    background: black;
}
#click-here-button{
    color: black;
}
}